{% form_theme quickForm with [
    'bootstrap_3_horizontal_layout.html.twig'
]
%}
<div>
    {{ form_start(quickForm) }}
        <div class="form-group row">
            <label for="city" class="col-xs-12 col-form-label">Name</label>
            <div class="col-xs-12">
                {{ form_widget(quickForm.name) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="city" class="col-xs-12 col-form-label">Street</label>
            <div class="col-xs-12">
                {{ form_widget(quickForm.street) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="city" class="col-xs-12 col-form-label">City</label>
            <div class="col-xs-12">
                {{ form_widget(quickForm.city) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="country" class="col-xs-12 col-form-label">Country</label>
            <div class="col-xs-12">
                {{ form_widget(quickForm.country) }}
            </div>
        </div>

        {{ form_widget(quickForm.save) }}

    {{ form_end(quickForm) }}
</div>
