<!-- Navigation bar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="{{ asset('build/header/logo.svg') }}">
            <a class="navbar-brand" href="{{ path('homepage') }}">Where To Brunch</a>
        </div>
        <nav role="navigation" class="collapse navbar-collapse navbar-right">
            <ul class="navbar-nav nav">
                <li {% if(app.request.attributes.get('_route') == 'homepage') %}class="active"{% endif %}><a href="{{ path('homepage') }}">Home</a></li>
                <li {% if(app.request.attributes.get('_route') == 'place_new') %}class="active"{% endif %}><a href="{{ path('place_new') }}">Add a new location</a></li>
                {% if app.user %}
{#
                    <li {% if(app.request.attributes.get('_route') == 'fos_user_security_logout') %}class="active"{% endif %}><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
#}
                    <li><a>{{ app.user.username }}</a></li>
                {% else %}
{#
                    <li {% if(app.request.attributes.get('_route') == 'fos_user_security_login') %}class="active"{% endif %}><a href="{{ path('fos_user_security_login') }}">Login</a></li>
#}
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
<!-- End Navigation bar -->
