{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="social-box">
        <br/>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" title="Facebook" class="btn btn-block btn-social btn-lg btn-facebook">
                    <i class="fa fa-facebook"></i> Sign in with Facebook
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" title="Google" class="btn btn-block btn-social btn-lg btn-google">
                    <i class="fa fa-google"></i> Sign in with Google
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="{{ path('fos_user_registration_register') }}" title="Google" class="btn btn-block btn-social btn-lg">
                    <i class="fa fa-sign-in"></i> Register
                </a>
            </div>
        </div>
    <hr/>
    <br/>
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input class="form-control"  type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" class="form-control" id="password" name="_password" required="required" />
            </div>
            <div class="checkbox">
                <label> <input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}</label>
            </div>
            <button type="submit"  id="_submit" name="_submit" class="btn btn-default" value="{{ 'security.login.submit'|trans }}">{{ 'security.login.submit'|trans }}</button>
        </form>
    </div>
{% endblock fos_user_content %}
