{% extends 'AppBundle::layout.html.twig' %}


{% block title %}Brunch{% endblock %}

{% block body %}
    <div class="container">
        <row>
            <div class="col-sm-12"><h1>New location</h1></div>
        <br/>
        </row>
        <div class="col-md-10">
        <row>
            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            {# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} #}
            {{ form_start(form) }}
            {{ form_row(form._token) }}
            {{ form_row(form.name) }}
            {{ form_row(form.address) }}
            {{ form_row(form.postalCode) }}
            {{ form_row(form.city) }}
            {{ form_row(form.country) }}
            <div class="form-group"><label class="col-sm-2 control-label" for="place_priceStart">Price range</label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">€ </span>
                        <input type="number" id="place_priceStart" name="place[priceStart]" class="form-control">
                    </div>
                </div>
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon">€ </span>
                        <input type="number" id="place_priceEnd" name="place[priceEnd]" class="form-control">
                    </div>
                </div>
            </div>
            {{ form_row(form.hasBuffet) }}
            </div>
            <hr class="col-sm-12">
        </row>
        <row>
            <h3 class="col-sm-12">Brunch time</h3>

            <div class="hidden-sm col-md-1"></div>
            <div class="col-sm-12">
                <p>When can we have a brunch or a breakfast at this place?</p>
            </div>

            <div class="hidden-sm col-md-1"></div>
            <div class="brunch_time brunch_time_edit col-sm-9 col-md-8">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Begin</th>
                            <th>End</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>During the week</th>
                            <td>{{ form_widget(form.weekStart) }}</td>
                            <td>{{ form_widget(form.weekStop) }}</td>
                        </tr>
                        <tr>
                            <th>Saturday</th>
                            <td>{{ form_widget(form.saturdayStart) }}</td>
                            <td>{{ form_widget(form.saturdayStop) }}</td>
                        </tr>
                        <tr>
                            <th>Sunday</th>
                            <td>{{ form_widget(form.sundayStart) }}</td>
                            <td>{{ form_widget(form.sundayStop) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="col-sm-12">
        </row>
        <row>
            <h3 class="col-sm-12">Images</h3>
            <div class="images col-sm-12" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
            </div>
            <hr class="col-sm-12">
        </row>
        <row>
            {{ form_row(form._token) }}
            <div class="col-sm-4">
                <button type="submit" id="place_save" name="place[save]" class="save btn">Save</button>
            </div>
            <div class="col-sm-8"></div>
        </row>

    </div>

<script>

</script>


{% endblock %}