{% extends 'AppBundle::layout.html.twig' %}


{% block title %}Brunch{% endblock %}

{% block body %}
    <div class="container">
        <row>
            <div class="col-sm-12"><h1>New location</h1></div>
        <br/>
        </row>
        <row>
            {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
            {# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} #}
            {{ form_start(form) }}
            {{ form_row(form._token) }}
            {{ form_row(form.name) }}
            {{ form_row(form.address) }}
            {{ form_row(form.postalCode) }}
            {{ form_row(form.city) }}
            {{ form_row(form.price) }}
            {{ form_row(form.hasBuffet) }}

            <hr class="col-sm-12">
        </row>
        <row>
            <h3 class="col-sm-12">Brunch time</h3>

            <div class="hidden-sm col-md-1"></div>
            <div class="col-sm-12">
                <p>When can we have a brunch or a breakfast at this place?</p>
            </div>

            <div class="hidden-sm col-md-1"></div>
            <div class="brunch_time brunch_time_edit col-sm-9 col-md-8">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Begin</th>
                            <th>End</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Monday</th>
                            <td>{{ form_widget(form.mondayStart) }}</td>
                            <td>{{ form_widget(form.mondayStop) }}</td>
                        </tr>
                        <tr>
                            <th>Tuesday</th>
                            <td>{{ form_widget(form.tuesdayStart) }}</td>
                            <td>{{ form_widget(form.tuesdayStop) }}</td>
                        </tr>
                        <tr>
                            <th>Wednesday</th>
                            <td>{{ form_widget(form.wednesdayStart) }}</td>
                            <td>{{ form_widget(form.wednesdayStop) }}</td>
                        </tr>
                        <tr>
                            <th>Thursday</th>
                            <td>{{ form_widget(form.thursdayStart) }}</td>
                            <td>{{ form_widget(form.thursdayStop) }}</td>
                        </tr>
                        <tr>
                            <th>Friday</th>
                            <td>{{ form_widget(form.fridayStart) }}</td>
                            <td>{{ form_widget(form.fridayStop) }}</td>
                        </tr>
                        <tr>
                            <th>Saturday</th>
                            <td>{{ form_widget(form.saturdayStart) }}</td>
                            <td>{{ form_widget(form.saturdayStop) }}</td>
                        </tr>
                        <tr>
                            <th>Sunday</th>
                            <td>{{ form_widget(form.sundayStart) }}</td>
                            <td>{{ form_widget(form.sundayStop) }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr class="col-sm-12">
        </row>
        <row>
            <h3 class="col-sm-12">Images</h3>
            <div class="images col-sm-12" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
            </div>
            <hr class="col-sm-12">
        </row>
        <row>
            {{ form_row(form._token) }}
            <div class="col-sm-4">
                <button type="submit" id="place_save" name="place[save]" class="save btn">Save</button>
            </div>
            <div class="col-sm-8"></div>
        </row>

    </div>

<script>

</script>


{% endblock %}