{% extends 'AppBundle::layout.html.twig' %}


{% block title %}Brunch{% endblock %}

{% block body %}

{{ dump(place) }}

<div class="container">
    <div>
        <img src="http://lorempixel.com/{{random(1000)}}/{{random(1000)}}/food">
        <div>
            <h3>{{ place.name }}</h3>
            <p>{{ place.address ~ ' ' ~ place.postalCode ~ ' ' ~ place.city}}</p>
        </div>
    </div>
</div>

{% endblock %}